<%= @error if @error %>
<%= form_for @myseinfeld,
  method: @post_method,
  url: @post_path do |f| %>
  <div class="form_attribute">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form_attribute">
    <%= f.label :season %>
    <%= f.text_field :season %>
  </div>
  <div class="form_attribute">
    <%= f.label :episode %>
    <%= f.text_field :episode %>
  </div>
  <div class="form_attribute">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="form_attribute">
    <%= f.submit %>
  </div>
<% end %>
