<!DOCTYPE html>
<body>
<header>
  <h2> <%= title.name %>
  <small class="creator-header"> <%= created_verb %> by: <%= maker %></small></h2>
</header>

<section class="column-up-12">
  <h4> Ranked: <%= rank.ranking %> </h4>
  <p> <%= about.description %> </p>
</section>
</body>
