<h1>Media Ranker</h1>

<h2>Top Movies </h2>

<% @movies.each do |movie| %>
<p>
<%=  link_to "#{movie.name}", movie_path(movie) %>
<%= "Ranked: #{movie.ranking}" %>
</p>
<% end %>
<%= link_to "View More Movies", movies_path %>

<h2>Top Books </h2>
<% @books.each do |book| %>
<p>
<%=  link_to "#{book.name}", book_path(book) %>
<%= "Ranked: #{book.ranking}" %>
</p>
<% end %>
<%= link_to "View More Books", books_path %>

<h2>Top Albums</h2>
 <% @albums.each do |album| %>
 <p>
 <%=  link_to "#{album.name}", album_path(album) %>
 <%= "Ranked: #{album.ranking}" %>
 </p>
 <% end %>
<%= link_to "View More Albums", albums_path %>
