<% if @movie.errors.any? %>
  <ul class="errors">
    <% @movie.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @movie do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :director %>
  <%= f.text_field :director %>
  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit "Save", :class => "buttons" %>
<% end %>
