<div class="form">
  <%= form_for @movie do |m| %>
  <p><%= m.label "Name" %>
  <%= m.text_field :name %></p>

  <p><%= m.label "Director" %>
  <%= m.text_field :director %></p>

  <p><%= m.label "Description" %>
  <%= m.text_field :description %></p>

  <p>
    <%= m.submit "Save" %>
  </p>
<% end %>
</div>
