<% if @movie.errors.any? %>
<ul>
  <% @movie.errors.each do |column, message| %>
  <li>
    <%= column %>
    <%= message %>
  </li>
  <% end %>
</ul>
<% end %>

<%= form_for @movie, method: action_name do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :director %>
<%= f.text_field :director %>
<%= f.label :description %>
<%= f.text_field :description %>

<%= f.submit "Commit Changes" %>
<% end %>
