<table>
  <tr>
    <th>Top Movies</th>
    <th>Top Books</th>
    <th>Top Albums</th>
  </tr>

  <% min_rows = [@movies.count, @books.count, @albums.count].min %>
  <% min_rows >= 10 ? rows = 10 : rows = min_rows %>

  <% rows.times do |i| %>
    <tr>
      <td><%= "#{ @movies[i].name} Ranked: #{@movies[i].ranking }" %></td>
      <td><%= "#{ @books[i].name } Ranked: #{ @books[i].ranking }" %></td>
      <td><%= "#{ @albums[i].name } Ranked: #{ @albums[i].ranking }" %></td>
    </tr>
  <% end %>

  <tr>
    <td><%= link_to "View All Movies", movies_path %></td>
    <td><%= link_to "View All Books", books_path %></td>
    <td><%= link_to "View All Albums", albums_path %></td>
  </tr>

</table>
