<h1>List of Movies</h1>


<%@movie.each do |movie| %>
<div >
  Number of Votes: <%="#{movie.rank}"%>
</div>
<h4><%=link_to "#{movie.name}", movie_path(movie)%></h4>
<p>
  <%= button_to "UpVote Now!", movies_upvote_path(movie), method: :patch%>
</p>
<%end%>
<%= link_to "Add a Movie", new_movie_path%> 

<%= link_to "All Media", medias_path %>
