<h2>Movies</h2>
<%= link_to 'Add a Movie', movie_new_path %>
<table>
<tr>
  <th>Rank</th>
  <th>Title</th>
  <th>Upvote</th>
  <th colspan="2"></th>
</tr>
<% @movies.order('rank DESC').each do |movie| %>
    <tr>
      <td class="media_index"><%= movie.rank %> </td>
      <td class="media_index"><%= link_to movie.title, movie_show_path(movie.id) %></td>
      <td class="media_index"><%= button_to 'Upvote', movie_upvote_path(movie.id), method: :post, class: 'upvote' %></td
    </tr>
  <% end %>
</table>

<%= link_to 'Show All Media', index_path %>
