<main>
  <ul>
    <% @movies.each do |movie| %>
      <li><%= "#{movie.rank}" %></li>
      <li><%= link_to("#{movie.title}", movie_path(movie)) %></li>
      <li><%= button_to("Upvote", movie_upvote_path(movie), method: :patch) %></li>
    <% end %>
  </ul>
</main>

<section>
  <%= button_to("View all media", root_path, method: :get) %>
  <%= button_to("Add a movie", new_movie_path, method: :get) %>
</section>
