<div class="row">
  <div class="column">
    <h2>m o v i e s</h2>
  </div>
</div>

<div class="row">
  <div class="column">
    <TABLE>
      <% @movies.each do |movie| %>
        <TR>
          <TD>Upvotes: <%= movie.upvotes %></TD>
          <TD><%= link_to movie.title, movies_show_path(movie.id) %></TD>
          <TD><%= button_to "Upvote", movies_update_path(movie.id), method: :patch %></TD>
        </TR>
      <% end %>
    </TABLE>
  </div>
</div>

<div class="row">
  <div class="column text-center">
    <div class="bottom-button">
      <%= button_to "View all media", main_path, method: :get %>
    </div>
    <div class="bottom-button">
      <%= button_to "Add a movie", movies_new_path, method: :get %>
    </div>
  </div>
</div>
