<table>
  <tr>
    <th># of Votes</th>
    <th>Movie Name</th>
    <th>UpVote</th>
  </tr>

  <% @movies_by_rank.each do | movie | %>
    <tr>
        <td><%= movie.rank %></td>
        <td><%= movie.name %></td>
        <td><%= button_to "UpVote", upvote_movie_path(movie.id), method: :patch %></td>
    </tr>
  <% end  %>

</table>




<section>
  <%= button_to "View all Media", welcome_index_path, method: :get %>
  <%= button_to "Add a Movie", new_movie_path, method: :get %>
</section>
