<main>
  <div>
    <ul class="row small-up-3">
      <li class="column">Votes</li>
      <li class="column">Title</li>
      <li class="column">Upvote</li>
    </ul>
  </div>

  <div class="index-list">
    <ul class="row small-up-3">
      <% @movies.each do |movie| %>
        <li class="column"><%= "#{movie.rank}" %></li>
        <li class="column"><%= link_to("#{movie.title}", movie_path(movie)) %></li>
        <li class="column"><%= link_to("Upvote", movie_upvote_path(movie), class: "small warning button", method: :patch) %></li>
      <% end %>
    </ul>
  </div>

  <nav class="row small-up-6">
    <p class="column"><%= link_to "View all media", root_path, class: "hollow button" %></p>
    <p class="column"><%= link_to("Add a movie", new_movie_path, class: "hollow button", method: :get) %></p>
  </nav>
</main>
