<h1><%=@this_movie.name%></h1>
<h2>Directed By: <%= @this_movie.director %></h2>
<h4>Rank: <%=@this_movie.rank%></h4>
<p class= "description"><%=@this_movie.description%></p>

<ul class="button-group">
	<li><%= button_to("Upvote", {action: "upvote", id: @this_movie.id}, {method: :patch, :class=> "button success"}) %></li>
	<li><%= button_to("Downvote", {action: "downvote", id: @this_movie.id}, {method: :patch, :class=> "button alert"}) %></li>
</ul>
<ul class="button-group">
	<li><%= button_to("Edit", {action: "edit", id: @this_movie.id}, {method: :get, :class=> "button"}) %></li>
	<li><%= button_to("Delete", {action: "destroy", id: @this_movie.id}, {method: :delete, :class=> "button", data: {confirm:  "are you sure?"}}) %></li>
	<li><%= button_to("View All Movies", {action: "index"}, {method: :get, :class=> "button"}) %></li>
	<li><%= button_to("View All Media", media_path, {method: :get, :class=> "button"}) %></li>
</ul>
