<%# name, title, rank, description  %>
<div class="row">
  <h2 class='small-12 medium-12 columns'>
    <%= "#{ @movie.name }" %>
  </h2>
</div>

<div class="row">
  <h3 class="small-12 medium-12 columns">
    <%= "Directed by: #{ @movie.director }" %>
  </h3>

  <section class="small-12 medium-12 columns">
    <h4><%= "# of Votes: #{ @movie.rank }" %></h4>
    <h4 class= 'description'><%= "Description: #{ @movie.description }" %></h4>
  </section>

  <%# buttons: edit, delete, upvote, view all movies, view all media  %>
  <section class="small-10 medium-10 columns upvote-edit-delete">
    <%= link_to "UpVote", upvote_movie_path(@movie.id), method: :patch, :class => 'link-button' %>

    <%= link_to "Edit", edit_movie_path(@movie.id), method: :get, :class => 'link-button' %>
    <%= link_to "Delete", movie_path(@movie.id), method: :delete, :class => 'link-button',
          data: {confirm: "Are you sure you want to delete permanently?"}%>
  </section>

  <section class="small-12 medium-12 columns">
    <%= link_to "View all Movies", movies_path, method: :get, :class => 'button' %>
    <%= link_to "View all Media", welcome_index_path, method: :get, :class => 'button' %>
  </section>
</div>
