<%# Delete button info: http://apidock.com/rails/ActionView/Helpers/UrlHelper/button_to %>

<article>
  <h2><%= @movie.title %></h1>
  <h3>Directed by: <%= @movie.director %> </h3>
  <h4>Upvotes: <%= @movie.upvotes %> </h4>
  <p> <%= @movie.description %> </p>
  <%= button_to "Upvote", movies_update_path, method: :patch %>
  <%= button_to "Edit #{@movie.title}", movies_edit_path(@movie.id), method: :get %>
  <%= button_to "Delete", movies_destroy_path(@movie.id), method: :delete, data: { confirm: "Are you sure?" } %>
  <%= button_to "View all movies", movies_index_path, method: :get %>
  <%= button_to "View all media", main_path, method: :get %>
</article>
