<section>
  <h1><%= @movie.name %></h1>
  <small><%= @movie.director %></small>
  <h2>Ranked: <%= @movie.upvotes %></h2>
  <p>
  <%= @movie.description %>
  </p>

</section>

<p>
  will be upvote button
</p>


<%= link_to "DELETE", movie_path,
  method: :delete,
  data: {confirm: "Are you sure?"} %>

<%= link_to "View all Movies", movies_path  %>
<%= link_to "View all Media", root_path %>
