<%= render "medias/shared_header", title: @movie, created_verb: "Directed", maker: @movie.director, rank: @movie, about: @movie %>
<!-- <h1> Movie Name: <%= @movie.name %></h1>
<h2> Directed By: <%= @movie.director %></h2>
<p> Ranked: <%= @movie.ranking %> </p>
<p> <%= @movie.description %> </p> -->

<%= button_to "UPVOTE", upvote_movie_path(@movie), method: :patch  %>
<%= link_to "Edit #{@movie.name}", edit_movie_path %>
<%= link_to "DELETE", movie_path(@movie.id), method: :delete,
data: { confirm: 'Are you sure?'} %>

<%= link_to "View All Media", root_path%>
<%= link_to "View All Movies", movies_path %>
