<h3><%= @movie.name %></h3>

<ul>
  <li>Director: <%= @movie.director %></li>
  <li>Description: <%= @movie.description %></li>
  <li>Upvotes: <%= ranking(@movie) %></li>
</ul>


LINK_TO UPVOTE FUNCTIONALITY HERE

<%= link_to "Edit #{@movie.name}", edit_movie_path %>
<%= link_to "DELETE", movie_path,
            method: "delete",
            data: { confirm: "Are you sure you want to delete this movie?" } %>

<%= link_to "All Movies", movies_path %>
LINK_TO ALL MEDIA HERE
