<h2><%= @movie.name %></h2>

<ul>
  <li>Director: <%= @movie.director %></li>
  <li>Description: <%= @movie.description %></li>
  <li>Upvotes: <%= ranking(@movie) %></li>
</ul>

<%= link_to :upvote, upvote_movie_path(@movie), method: "patch" %>

<%= link_to "Edit #{@movie.name}", edit_movie_path %>
<%= link_to "DELETE", movie_path,
            method: "delete",
            data: { confirm: "Are you sure you want to delete this movie?" } %>

<%= link_to "All Movies", movies_path %>
<%#= link_to "All Media", root_path %>
