<%= render partial: "layouts/media_info", locals: { media: @movie } %>

<p>
  <%= button_to "Upvote", upvote_movie_path(@movie), method: :patch %>
</p>
<p>
  <%= button_to "Edit Movie", edit_movie_path(@movie), method: :get %>
</p>
<p>
  <%= button_to "Delete Movie", movie_path(@movie), method: :delete, data: {confirm: "Are you sure you want to delete this movie?"} %>
</p>


<section class="sub-nav">
  <ul>
    <li>
      <%= link_to "Back to all Movies", movies_path %>
    </li>
    <li>
      <%# link_to "Back to MediaRanker Home", root_path %>
    </li>
  </ul>
</section>
