<h1><%= @movie.name %></h1>

<ul>
  <li>Director: <%= @movie.director %></li>
  <li>Description: <%= @movie.description %></li>
  <li>Upvotes: <%= ranking(@movie) %></li>
</ul>



<%= link_to "Edit #{@movie.name}", edit_movie_path %>
<%= link_to "All Movies", movies_path %>
LINK_TO ALL MEDIA HERE
