<h2><%= @this_item.name %></h2>
<h3>Directed by: <%=@this_item.director%></h3>

<h4>Rank: <%=@this_item.rank %></h4>

<p><%=link_to "View all Movies", movies_path%></p>
<p><%=link_to "View all Media", root_path%></p>
