<section>
  <h1><%= @mymovie.title %></h1>
  <p><%= @mymovie.creator %></p>
  <p><%= @mymovie.description %></p>
  <%= button_to("Edit Movie", edit_movie_path(@mymovie.id), method: :get)%>

  <%= button_to("Delete Movie", movie_path(@mymovie.id), method: :delete)%>
</section>
