<h3><%= "#{@movie.title}" %></h3>
<h4><%= "Directed by #{@movie.director}" %></h4>
<p>
  <%= "#{@movie.description}" %>
</p>
<p>
  <%= "Ranked: #{@movie.vote}" %>
</p>


<%# link_to "Upvote", edit_movie_path %>
<%= link_to "Edit Movie", edit_movie_path %>
<%= link_to "Home", root_path %>
<%= link_to "All Movies", movies_path %>
