<h1> Movie Name: <%= @movie.name %></h1>
<h2> Directed By: <%= @movie.director %></h2>
<p> Ranked: <%= @movie.ranking %> </p>
<p> <%= @movie.description %> </p>

<!-- Going to need links to edit and delete the movie, as well as an upvote button  -->
<%= link_to "edit", edit_movie_path %>
<%= link_to "DELETE", movie_path(@movie.id), method: :delete,
    data: { confirm: 'Are you sure?'} %>
