<section>
  <h2><%= @movie.name%></h2>
  <h3> Directed by: <%= @movie.directed_by %> </h3>
  <h3> Ranked: <%= @movie.ranked %> </h3>
  <p> <%= @movie.description %> </p>
</section>

<ul>
  <li><%= button_to 'Upvote', mupvote_path(params[:id]), method: :put %></li>
  <li><%= button_to 'Edit movie', edit_movie_path(params[:id]), method: :get %></li>
  <li><%= button_to 'Delete movie', { controller: :movies, action: :destroy}, method: :delete, data: {confirm: 'Are you sure?'} %></li>
</ul>
