<%# @TODO - refactor DRY! replace paths with symbols? %>

<% case media_type %>
  <% when :album %>
    <% media_path = album_path(media_item) %>
    <% index_path = albums_path %>
    <% edit_media_path = edit_album_path(media_item) %>
    <% made_by_verb = "Recorded" %>
  <% when :movie %>
    <% media_path = movie_path(media_item) %>
    <% index_path = movies_path %>
    <% edit_media_path = edit_movie_path(media_item) %>
    <% made_by_verb = "Directed" %>
  <% when :book %>
    <% media_path = book_path(media_item) %>
    <% index_path = books_path %>
    <% edit_media_path = edit_book_path(media_item) %>
    <% made_by_verb = "Written" %>
<% end %>

<h1>
  <%= media_item.name %> <small><%= "#{made_by_verb} by: #{creator}" %></small>
</h1>
<h4>
  Ranking: <%= media_item.ranking %>
</h4>
<p>
  <%= media_item.description %>
</p>
<%# button_to "Upvote", media_path, method: :patch, media_item.upvote %>

<%= button_to [:upvote, media_item], method: :patch do %>
  Upvote
<% end %>

<%= link_to "Edit #{media_item.name}", edit_media_path %>

<%= link_to "DELETE", media_path, method: :delete, data: { confirm: "Are you sure?" } %>

<%= link_to "View All #{ media_type.to_s.capitalize }s", index_path %>

<h4><%# @TODO: ADD LINK TO HOME SITE HERE! %> View All Media Link Will Be Here</h4>
