<div class="row">
  <div class="medium-up-4 large-up-4">
    <div class="column">
      <h1>Top Movies</h1>
      <% count = 0 %>
      <% @movies.each do |movie| %>
        <% count += 1 %>
        <% if count < 11 %>
          <h2><%= link_to(movie.name, movie_path(movie.id)) %><span class="not_emphasized">
            Ranked: <%= movie.ranking %></h2>
        <% end %>
      <% end %>
      <p><%= link_to("View More Movies", movies_path) %></p>
    </div>

    <div class="column">
      <h1>Top Books</h1>
      <% count = 0 %>
      <% @books.each do |book| %>
        <% count += 1 %>
        <% if count < 11 %>
          <h2><%= link_to(book.name, book_path(book.id)) %><span class="not_emphasized"> Ranked: <%= book.ranking %></span></h2>
        <% end %>
      <% end %>
      <p><%= link_to("View More Books", books_path) %></p>
    </div>

    <div class="column">
      <h1>Top Albums</h1>
      <% count = 0%>
      <% @albums.each do |album| %>
        <% count += 1 %>
        <% if count < 11 %>
          <h2><%= link_to(album.name, album_path(album.id)) %><span class="not_emphasized">
          Ranked: <%= album.ranking %></h2>
        <% end %>
      <% end %>
      <p><%= link_to("View More Albums", albums_path) %></p>
    </div>
  </div>
</div>
