
<div class="row">
  <div class="medium-up-4 large-up-4">
    <div class="column">
      <h1>Top Movies</h1>
      <% @movies.each do |movie| %>
        <h2><%= link_to(movie.name, movie_path(movie.id)) %></h2>
        <p>Ranked: <%= movie.ranking %></p>
      <% end %>
      <p><%= link_to("View More Movies", movies_path) %></p>
    </div>

    <div class="column">
      <h1>Top Books</h1>
      <% @books.each do |book| %>
        <h2><%= link_to(book.name, book_path(book.id)) %></h2>
        <p>Ranked: <%= book.ranking %></p>
      <% end %>
      <p><%= link_to("View More Books", books_path) %></p>
    </div>

    <div class="column">
      <h1>Top Albums</h1>
      <% @albums.each do |album| %>
        <h2><%= link_to(album.name, album_path(album.id)) %></h2>
        <p>Ranked: <%= album.ranking %></p>
      <% end %>
      <p><%= link_to("View More Albums", albums_path) %></p>
    </div>
  </div>
</div>
