<section>
  <h3>Top Movies</h3>
  <ol>
    <% @movies.sort_by_rank.each_with_index do |movie, index| %>
    <% break if index == 10 %>
    <li><%= link_to "#{movie.name}", movie_path(movie) %> <span>Ranked: <%= ranking(movie) %></span></li>
  <% end %>
  </ol>
  <p>
    <%= link_to "More Movies", movies_path %>
  </p>
</section>

<section>
  <h3>Top Books</h3>
  <ol>
    <% @books.sort_by_rank.each_with_index do |book, index| %>
    <% break if index == 10 %>
    <li><%= link_to "#{book.title}", book_path(book) %> <span>Ranked: <%= ranking(book) %></span></li>
    <% end %>
  </ol>
  <p>
    <%= link_to "More Books", books_path %>
  </p>
</section>

<section>
  <h3>Top Albums</h3>
  <ol>
    <% @albums.sort_by_rank.each_with_index do |album, index| %>
    <% break if index == 10 %>
    <li><%= link_to "#{album.name}", album_path(album) %> <span>Ranked: <%= ranking(album) %></span></li>
    <% end %>
  </ol>
  <%= link_to "More Albums", albums_path %>
</section>
