<h1>Welcome Page</h1>

<section>
  <h3>Top Movies:</h3>

  <% @movies.each do | movie | %>
  <ul>
    <li><%= link_to "#{movie.name}", movie_path(movie.id) %><%= " (# of Votes: #{movie.rank})" %></li>
  </ul>
  <% end  %>
  <%= link_to "See More Movies", movies_path, method: :get %>
</section>

<section>
  <h3>Top Books:</h3>

  <% @books.each do | book | %>
  <ul>
    <li><%= link_to "#{book.name}", book_path(book.id) %><%= " (# of Votes: #{book.rank})" %></li>
  </ul>
  <% end  %>
  <%= link_to "See More Books", books_path, method: :get %>
</section>

<section>
  <h3>Top Albums:</h3>

  <% @albums.each do | album | %>
  <ul>
    <li><%= link_to "#{album.name}", album_path(album.id) %><%= " (# of Votes: #{album.rank})" %></li>
  </ul>
  <% end  %>
  <%= link_to "See More Albums", albums_path, method: :get %>
</section>
