<main>
  <h2 class='index-header'>Check out our Top Hits:</h2>

  <ul class="row small-up-1 medium-up-2 large-up-3" >
    <li class="column">
      <table>
        <tr>
          <th><h3>Top Movies:</h3></th>
        </tr>

        <% @movies_by_rank.each do | movie | %>
        <tr>
            <td><%= link_to "#{movie.name}", movie_path(movie.id) %><%= " (Votes: #{movie.rank})" %></td>
        </tr>
        <% end %>
        <tr>
          <td><%= link_to "See More Movies...", movies_path, method: :get %></td>
        </tr>
      </table>
    </li>

    <li class="column">
      <table>
        <tr>
          <th><h3>Top Books:</h3></th>
        </tr>

        <% @books_by_rank.each do | book | %>
        <tr>
            <td><%= link_to "#{book.name}", book_path(book.id) %><%= " (Votes: #{book.rank})" %></td>
        </tr>
        <% end %>
        <tr>
          <td><%= link_to "See More Books...", books_path, method: :get %></td>
        </tr>
      </table>
    </li>

    <li class="column">
      <table>
        <tr>
          <th><h3>Top Albums:</h3></th>
        </tr>

        <% @albums_by_rank.each do | album | %>
        <tr>
            <td><%= link_to "#{album.name}", album_path(album.id) %><%= " (Votes: #{album.rank})" %></td>
        </tr>
        <% end %>
        <tr>
          <td><%= link_to "See More Albums...", albums_path, method: :get %></td>
        </tr>
      </table>
    </li>
  </ul>
</main>
