<h1>Check out our Top Hits:</h1>

<table>
  <tr>
    <th><h3>Top Movies:</h3></th>
    <th><h3>Top Books:</h3></th>
    <th><h3>Top Albums:</h3></th>
  </tr>

  <% 3.times do | i | %>
  <tr>
      <td><%= link_to "#{@movies_by_rank[i].name}", movie_path(@movies_by_rank[i].id) %><%= " (Votes: #{@movies_by_rank[i].rank})" %></td>

      <td><%= link_to "#{@books_by_rank[i].name}", book_path(@books_by_rank[i].id) %><%= " (Votes: #{@books_by_rank[i].rank})" %></td>

      <td><%= link_to "#{@albums_by_rank[i].name}", album_path(@albums_by_rank[i].id) %><%= " (Votes: #{@albums_by_rank[i].rank})" %></td>
  </tr>
  <% end %>
  <tr>
    <td><%= link_to "See More Movies", movies_path, method: :get %></td>
    <td><%= link_to "See More Books", books_path, method: :get %></td>
    <td><%= link_to "See More Albums", albums_path, method: :get %></td>
  </tr>
</table>
