<h5 class="error-message"><%= @error if @error %></h5>
<%= form_for @mysong,
  method: @post_method,
  url: @post_path do |f| %>
  <div class="form_attribute">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form_attribute">
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>
  <div class="form_attribute">
    <%= f.label :album %>
    <%= f.text_field :album %>
  </div>
  <div class="form_attribute">
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>
  <div class="form_attribute">
    <%= f.submit %>
  </div>
<% end %>
