<h1 class="top-title align-center">Media Ranker Songs</h1>

<main class="main-container">
  <article class="table-headers row">
    <h3 class="small-12 medium-4 column">Title: </h3>
    <h3 class="small-12 medium-4 column">Artist: </h3>
    <h3 class="small-12 medium-2 column">Rank: </h3>
    <h3 class="small-12 medium-1 column">Vote: </h3>
  </article>
  <div class="media-list-container">
  <% @songs.each do |song| %>
    <article class="one-song row">
      <h5 class="small-12 medium-4 column"><%= link_to song.title, song_path(song.id) %></h5>
      <h5 class="small-4 medium-4 column"><%= link_to song.artist, song_path(song.id) %> </h5>
      <p class="small-7 medium-2 column right-padding"> Votes: <%= song.rank %></p>
      <div class="small-6 medium-1 column arrows">
        <p class="upvote-arrow"><%= link_to "▲  ", {controller: 'songs', action: 'upvote', id: song.id}, method: :patch%></p>
        <p class="downvote-arrow"><%= link_to "▼", {controller: 'songs', action: 'downvote', id: song.id}, method: :patch%></p>
      </div>
    </article>
  <% end %>
  </div>
  <div class="bottom-buttons row">
    <p class="new_button small-5 medium-4 column"><%= button_to "Add New Song", {controller: 'songs', action: 'new'}, {path: 'new_song', method: :get} %></p>
    <p class="media_button small-5 medium-4 column"><%= button_to "View All Media", {controller: 'landings', action: 'index'}, {path: 'landings', method: :get} %></p>
  </div>
</main>
<p class="scroll">Scroll Through Songs</p>
