<%= @error if @error %>
<%= form_for @mybook,
  method: @post_method,
  url: @post_path do |f| %>
    <!-- <%= @error if @error %> -->
  <div class="form_attribute">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form_attribute">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div class="form_attribute">
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>
  <div class="form_attribute">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="form_attribute">
    <%= f.submit %>
  </div>
<% end %>
