<div class="row">
  <%= form_for @book, url: action_name do |f| %>

    <div class="field">
      <%= f.label "Title: " %>
      <%= f.text_field :title, :title => nil, :required => true %>
    </div>

    <div class="field">
      <%= f.label "Author: " %>
      <%= f.text_field :author, :author => nil, :required => true  %>
    </div>

    <div class="field">
      <%= f.label "Tell us why they're rad: " %>
      <%= f.text_area :synopsis, :synopsis => nil, :required => true   %>
    </div>

    <%= f.submit action_name, class: 'button secondary' %>
  <% end %>
</div>
