<p>
  books form
</p>
<section>
  <%= form_for @books do |f| %>
  <%= f.label :Name %>
  <%= f.test_field :name %>
  <%= f.label :Author %>
  <%= f.text_field :author %>
  <%= f.label :Description %>
  <%= f.text_field :description %>
  <%= end %>
</section>
