<% if @book.errors.any? %>
  <p>Error!</p>
  <% @book.errors.each do |field, problem| %>
    <p><strong><%= field %>: </strong><%= problem %></p>
  <% end %>
<% end %>

<%= form_for @book, method: http_method do |b| %>

<p><%= b.label "Name" %></p>
<p><%= b.text_field :name %></p>
<p><%= b.label "Author" %></p>
<p><%= b.text_field :author %></p>
<p><%= b.label "Description" %></p>
<p><%= b.text_field :description %></p>

<%= b.submit "Save" %>

<% end %>
