<% if @book.errors.any? %>
  <ul class="errors">
    <% @book.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @book, method: http_method do |f| %>
  <p>
    <%= f.label :title %>:
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :author %>:
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.label :description %>:
    <%= f.text_field :description %>
  </p>

  <%= f.submit "Submit" %>
<% end %>

<p>
  <%= link_to "Back to All Books", books_path %>
</p>
