<h2>Edit Book</h2>

<%= form_for @book do |f| %>
  <p><%= f.label :Name  %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :Author  %></p>
  <p><%= f.text_field :author %></p>
  <p><%= f.label :Description  %></p>
  <p><%= f.text_field :description %></p>
  <p> <%= f.submit "Save" %></p>
<% end %>
