<table>
  <thead>
    <tr>
      <th>
        <p>Ranking</p>
      </th>
      <th>
        <p>Name</p>
      </th>
      <th>
        <p>Upvote</p>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @books.each do |b| %>
        <td><%= "#{ b.upvotes }" %></td>
        <td><%= link_to "#{ b.name }", book_path(b) %></td>
        <td><%= button_to "Upvote", root_path %></td>
    </tr>
      <% end %>
  </tbody>
</table>

<%= button_to "View All Media", root_path, method: :get %>
<%= button_to "Add a Book", new_book_path, method: :get %>
