<table class="index_table">
    <tr>
        <th>Votes</th>
        <th>Book Name</th>
        <th>Upvote</th>
    </tr>

    <% @books.each do |book| %>
    <tr>
        <td><%= "#{ book.votes }" %></td>
        <td><%= link_to "#{ book.name }", book_path(book) %></td>
        <td><%= button_to("upvote", book_upvote_path(book), method: :patch) %></td>
    </tr>
    <% end %>
</table>



<%= link_to("View All Media", root_path, class: "button") %>

<%= link_to("Add a Book", new_book_path, class: "button") %>
