<main>
  <table>
    <thead>
      <tr>
        <th scope="col">Ranking</th>
        <th scope="col">Book</th>
        <th scope="col">Upvote</th>
      </tr>
    </thead>

    <tbody>
      <% @books.sort_by_rank.each do |book| %>
      <tr>

        <td>
          Ranked: <%= ranking(book) %>
        </td>

        <td scope="row">
          <%= link_to "#{book.title}", book_path(book) %>
        </td>


        <td>
          <%= link_to "Upvote", upvote_book_path(book), method: "patch" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</main>

<footer class="small-12 large-12 columns">
  <ul class="menu row small-up-1 medium-up-3 large-up-6">
    <li class="column"><%= link_to "All Media", root_path, class: "secondary button" %></li>
    <li class="column"><%= link_to "Add New Book", new_book_path, class: "button" %></li>
  </ul>
</footer>
