<div class ="row">
  <div class="small-up-12 medium-up-12 large-up-12">
    <section>
      <h2>All Books</h2>

      <table>
        <tr>
          <th>Ranking</th>
          <th>Name</th>
          <th>Upvote  </th>
        </tr>

        <% @books.each do |book| %>
        <tr>
          <td><strong><%= book.ranked %></strong></td>
          <td><%= link_to "#{book.name}", book_path(book.id), class: "home-name" %></td>
          <td><%= button_to "Upvote", upvote_book_path(book.id), :method => :patch, class: "button radius" %></td>
        </tr>
        <% end %>
      </table>

      <div class="command">
        <%= link_to "View All Media", home_path, class: "button secondary radius" %>
        <%= link_to "Add a Book", new_book_path, class: "button secondary radius" %>
      </div>
    </section>
  </div>
</div>
