<h2>Books</h2>
<%= link_to 'Add a new Book', book_new_path %>
<table>
<tr>
  <th>Rank</th>
  <th>Title</th>
  <th>Upvote</th>
  <th colspan="2"></th>
</tr>
<% @books.order('rank DESC').each do |book| %>
    <tr>
      <td class="media_index"><%= book.rank %> </td>
      <td class="media_index"><%= link_to book.title, book_show_path(book.id) %></td>
      <td class="media_index"><%= button_to 'Upvote', book_upvote_path(book.id), method: :post %></td
    </tr>
  <% end %>
</table>

<%= link_to 'Show All Media', index_path %>
