<h2>All Books</h2>
<h5><%= link_to "Submit a new book for voting", new_book_path %></h5>

<table class="index-table">
  <tr>
    <th colspan=2>Points</th>
    <th>Book Name</th>
    <th>More...</th>
  </tr>

  <% @books.each do |book| %>
  <tr>
    <td>
      <%= button_to "⬆", vote_book_path(book, vote: "up"), contoller: :books, action: :vote, method: :patch %>
      <%= button_to "⬇", vote_book_path(book, vote: "down"), contoller: :books, action: :vote, method: :patch %>
    </td>
    <td><%= "#{book.rank_points}" %></td>
    <td><%= "#{book.name}" %></td>
    <td><%= link_to "More Details...", book_path(book) %></td>
  </tr>
  <% end %>
</table>

<%= link_to root_path do%>
  <div class="row"><div class="button columns-12"><h5>Go back home</h5></div></div>
<% end %>
