<main>
  <ul class="row small-up-3">
    <li class="column">Rank</li>
    <li class="column">Title</li>
    <li class="column">Upvote</li>
  </ul>

  <ul class="row small-up-3">
    <% @books.each do |book| %>
      <li class="column"><%= "#{book.rank}" %></li>
      <li class="column"><%= link_to("#{book.title}", book_path(book)) %></li>
      <li class="column"><%= button_to("Upvote", book_upvote_path(book), method: :patch) %></li>
    <% end %>
  </ul>
</main>

<section>
  <%= button_to("View all media", root_path, method: :get) %>
  <%= button_to("Add a book", new_book_path, method: :get) %>
</section>
