<h2><%= @book.title %></h2>

<ul>
  <li>Artist: <%= @book.author %></li>
  <li>Description: <%= @book.description %></li>
  <li>Upvotes: <%= ranking(@book) %></li>
</ul>


LINK_TO UPVOTE FUNCTIONALITY HERE

<%= link_to "Edit #{@book.title}", edit_book_path %>
<%= link_to "DELETE", book_path,
            method: "delete",
            data: { confirm: "Are you sure you want to delete this book?" } %>

<%= link_to "All Books", books_path %>
<%#= link_to "All Media", root_path %>
