<h3> <%=" #{@book.title}" %></h3>
<p>
  By: <%= "#{@book.author}"%>
</p>
<p>
  Number of Votes: <%= "#{@book.rank}"%>
</p>

<p>
  A short description: <%= "#{@book.description}"%>
</p>
<%= button_to "UpVote Now!", book_upvote_path(@book.id), method: :patch%>
<%= link_to "Edit The Book", edit_book_path(@book.id) %>
<%= link_to "All Media", medias_path %>
<%= button_to "Book List", books_path, method: :get %>
<%= button_to "Delete Book", book_path(@book.id), method: :delete,
data: {confirm: "Are you sure?"}%>
