<section class="record">
  <h1><%= @book.title %></h1>
  <h4>By: <%= @book.author %></h4>
  <p><%= @book.description %></p>
  <p class="rank">Ranked: <%= @book.rank %></p>

  <%= button_to 'Upvote', book_upvote_path(@book.id), method: :post, class: 'show_button upvote'  %>
  <%= button_to "Edit Book", book_edit_path(@book.id), method: :get, class: 'show_button edit' %>
  <%= button_to "Delete Book", book_delete_path(@book.id), method: :delete, class: 'show_button delete', data: {confirm:"Are you Sure?" }  %>

</section>

<section class="links">
  <%= link_to 'Show All Media', index_path %>
  <%= link_to 'Show All Books', book_index_path %>
</section>
