<h2>Detailed Book Info</h2>

<table class="index-table">
  <tr>
    <th>Points</th>
    <th>Book Name</th>
    <th>Book Author</th>
    <th>Book Description</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td><%= "#{@book.rank_points}" %></td>
    <td><%= "#{@book.name}" %></td>
    <td><%= "#{@book.author}" %></td>
    <td><%= "#{@book.description}" %></td>
    <td><small>
      <%= link_to "[Edit]", edit_book_path(@book) %>
      <%= link_to "[Delete]", book_path(@book), method: :delete, data: { confirm: "Really, now?" } %></small> </td>
  </tr>
</table>

<h5><%= link_to "Head back to all books", books_path %></h5>
<h5><%= link_to "Head back home", root_path %></h5>
