<div class="row">
  <section>
    <h2><%= @book.title %></h2>
    <h4><%= "Author: #{@book.author}" %></h4>

    <p><%= "Ranked: #{@book.rank }"%><p>

    <p><%= @book.synopsis %></p>
  </section>

  <section>
    <%= button_to "Upvote", upvote_books_path(id: @book.id), method: :patch, class: 'button radius' %>
  </section>

    <%= button_to "Edit '#{@book.title}'", edit_books_path(book_id: @book.id), method: :get, class: 'button secondary' %>

    <%= button_to "Delete", delete_books_path(book_id: @book.id), method: :delete, class: 'button alert', data: { confirm: "Are you sure you want to delete this album? This action cannot be undone." } %>

    <%= button_to "View All Books", index_books_path, method: :get, class: 'button secondary' %>
    <%= button_to "View All Media", root_path, method: :get, class: 'button secondary' %>
</div>
