<div class ="row">
  <div class="small-up-12 medium-up-12 large-up-12">
    <section>
      <h2><%= @book.name %><span class="not-highlighted"> Written by: <%= @book.author %></span></h2>

      <h4>Ranked: <%= @book.ranked %></h4>

      <p>Description: <%= @book.description %></p>

      <div class="command">
        <p><%= button_to "Upvote", upvote_book_path(@book.id), :method => :patch, class: "button radius", id: "blue-button" %></p>

        <p>
          <%= link_to "Edit '#{@book.name}'", edit_book_path(@book.id), class: "button secondary radius" %>
          <%= link_to "Delete", book_path(@book.id), method: :delete, class: "button radius alert", data: { confirm: "Are you sure you want to delete?"} %>
          <%= link_to "View All Books", books_path, class: "button secondary radius" %>
          <%= link_to "View All Media", home_path, class: "button secondary radius" %>
        </p>
      </div>
    </section>
  </div>
</div>
