<main>
  <article class="row">
    <p class="small-4 columns">Title: <%= @book.title %></p>
    <p class="small-4 columns">Author: <%= @book.author %></p>
    <p class="small-12 columns">Votes: <%= @book.rank %></p>
    <p class="small-12 columns">Description: <%= @book.description %></p>
    <p class="small-12 columns"><%= button_to("Upvote", book_upvote_path, method: :patch) %></p>
  </article>

  <nav>
    <p><%= button_to("Edit this book", edit_book_path, method: :get) %></p>
    <p><%= button_to("Delete this book", book_path, method: :delete, data: { confirm: 'Are you sure you want to delete this?' }) %></p>
    <p><%= button_to("View all books", books_path, method: :get) %></p>
    <p><%= button_to("View all media", root_path, method: :get) %></p>
  </nav>
</main>
