<%= render partial: 'layouts/show', locals: { media: @book } %>

<section class='row'>

<%= link_to "Edit #{@book.name}", edit_book_path(@book), class: 'button' %>
<%= link_to "DELETE", book_path(@book),
    class: 'button button-danger',
    method: :delete,
    data: {confirm: "Are you sure?"} %>
<%= link_to "View all Books", books_path, class: 'button'  %>
<%= link_to "View all Media", root_path, class: 'button' %>

</section>
