<%# name, title, rank, description  %>
<h1><%= "#{ @book.name }" %></h1>

<h3><%= "Written by: #{ @book.author }" %></h3>
<section>
  <h4><%= "# of Votes: #{ @book.rank }" %></h4>
  <h4><%= "Description: #{ @book.description }" %></h4>
</section>

<%# buttons: edit, delete, upvote, view all movies, view all media  %>
<section>
  <%= button_to "UpVote", upvote_book_path(@book.id), method: :patch %>


  <%= link_to "Edit", edit_book_path(@book.id), method: :get %>
  <%= link_to "Delete", book_path(@book.id), method: :delete,
        data: {confirm: "Are you sure you want to delete permanently?"}%>

  <%= link_to "View all Books", books_path, method: :get %>
  <%= link_to "View all Media", welcome_index_path, method: :get %>
</section>
