<h3><%= "#{@book.title}" %></h3>
<h4><%= "Written by #{@book.author}" %></h4>
<p>
  <%= "#{@book.description}" %>
</p>
<p>
  <%= "Ranked: #{@book.vote}" %>
</p>


<%# link_to "Upvote", edit_book_path %>
<%= link_to "Edit Book", edit_book_path %>
<%= link_to "Home", root_path %>
<%= link_to "All Books", books_path %>
