<h3><%= "#{@book.title}" %></h3>
<h4><%= "Written by #{@book.author}" %></h4>
<p>
  <%= "#{@book.description}" %>
</p>
<p>
  <%= "Ranked: #{@book.vote}" %>
</p>


<%= form_for @book, method: :patch do |f|%>
  <%= f.hidden_field :vote, :value => @book.upvote %>
  <%= f.submit "Upvote!" %>
<% end %>
<%= link_to "Edit Book", edit_book_path %>
<%= link_to "Home", root_path %>
<%= link_to "All Books", books_path %>
