<h1><%= @book[:title] %></h1>

<section>
  <h2><%= @book.title%></h2>
  <h3> Written by: <%= @book.written_by %> </h3>
  <h3> Ranked: <%= @book.ranked %> </h3>
  <p> <%= @book.description %> </p>
</section>

<ul>
  <li><%= button_to 'Upvote', like_path(params[:id]), method: :put %></li>
  <li><%= button_to 'Edit Book', edit_book_path(params[:id]), method: :get %></li>
  <li><%= button_to 'Delete Book', { controller: :books, action: :destroy}, method: :delete, data: {confirm: 'Are you sure?'} %></li>
  <li><%= button_to 'View All Books', books_path, method: :get %></li>
  <li><%= button_to 'View All Media', root_path, method: :get %></li>
</ul>
