<% if @album.errors.any? %>
  <ul class="error">
    <% @album.errors.each do |error, message| %>
    <li><strong><%= error.upcase %></strong><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @album, url: path, method: http_method do |f| %>
<table>
  <tr>
    <td><%= f.label :name %> </td>
    <td><%= f.text_field :name, :size => 100 %> </td>
  </tr>

  <tr>
    <td><%= f.label :artist %></td>
    <td><%= f.text_field :artist %></td>
  </tr>

  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_field :description %></td>
  </tr>

  <tr>
    <td><%= f.submit "Create Album" %></td>
  </tr>
</table>
<% end %>
