<div class="form">
<%= form_for @album, url: action_name do |f| %>

  <div class="field">
    <%= f.label "Title: " %>
    <%= f.text_field :title, :title => nil, :required => true %>
  </div>

  <div class="field">
    <%= f.label "Artist: " %>
    <%= f.text_field :artist, :artist => nil, :required => true  %>
  </div>

  <div class="field">
    <p><%= f.hidden_field :rank, :value => 0 %></p>
    <p><%# f.number_field :product_id, :value => 0 %>
  </div>

  <div class="field">
    <%= f.label "Tell us why they're rad: " %>
    <%= f.text_area :synopsis, :synopsis => nil, :required => true   %>
  </div>

  <%= f.submit action_name, class: 'submit_btn' %>
<% end %>
</div>
