<main>
  <article>
    <h3>New Album</h3>

    <%= form_for @album do |f| %>
      <p class="small-11"><%= f.label :title, "Title:" %>
      <%= f.text_field :title %></p>

      <p class="small-11"><%= f.label :artist, "Artist:" %>
      <%= f.text_field :artist %></p>

      <p class="small-11"><%= f.label :description, "Description:" %>
      <%= f.text_field :description %></p>

      <p><%= f.submit "Save" %></p>
    <% end %>
  </article>
</main>
