<h1>Viewing All Albums </h1>

<h3> Ranking || Name || Upvote </h3>
<% @all_albums.each do |album| %>
<p><%= "#{album.ranking} |------------|" %>
<%=  link_to "#{album.name}", album_path(album) %>
<%= button_to "UPVOTE", upvote_album_path(album), method: :patch  %> </p>
<% end %>

<%= link_to "View All Media", root_path%>
<%= link_to "Add an Album", new_album_path%>
