<h2>Albums</h2>
<%= link_to 'Add an Album', album_new_path %>
<table>
<tr>
  <th>Rank</th>
  <th>Title</th>
  <th>Upvote</th>
  <th colspan="2"></th>
</tr>
<% @albums.order('rank DESC').each do |album| %>
    <tr>
      <td class="media_index"><%= album.rank %> </td>
      <td class="media_index"><%= link_to album.title, album_show_path(album.id) %></td>
      <td class="media_index"><%= button_to 'Upvote', album_upvote_path(album.id), method: :post, class: 'upvote'%></td
    </tr>
  <% end %>
</table>

<%= link_to 'Show All Media', index_path %>
