<h2>All Albums</h2>
<h5><%= link_to "Submit a new album for voting", new_album_path %></h5>
<table class="index-table">
  <tr>
    <th colspan=2>Points</th>
    <th>Album Name</th>
    <th>More...</th>
  </tr>

  <% @albums.each do |album| %>
  <tr>
    <td>
      <%= button_to "⬆", vote_album_path(album, vote: "up"), contoller: :albums, action: :vote, method: :patch %>
      <%= button_to "⬇", vote_album_path(album, vote: "down"), contoller: :albums, action: :vote, method: :patch %>
    </td>
    <td><%= "#{album.rank_points}" %></td>
    <td><%= "#{album.name}" %></td>
    <td><small><%= link_to "[Details]", album_path(album) %> | <%= link_to "[Delete]", album_path(album), method: :delete, data: { confirm: "Honestly?" } %></small></td>
  </tr>
  <% end %>
</table>
