<h2>Albums in the database</h2>

<TABLE>
  <% @albums.each do |album| %>
    <TR>
      <TD>Upvotes: <%= album.upvotes %></TD>
      <TD><%= link_to album.title, albums_show_path(album.id) %></TD>
      <TD><%= button_to "Upvote", albums_update_path(album.id), method: :patch %></TD>
    </TR>
  <% end %>
</TABLE>

<%= button_to "View all media", main_path, method: :get %>
<%= button_to "Add an album", albums_new_path, method: :get %>
