<main>
  <div>
    <ul class="row small-up-3">
      <li class="column">Rank</li>
      <li class="column">Title</li>
      <li class="column">Upvote</li>
    </ul>
  </div>

  <div  class="index-list">
    <ul class="row small-up-3">
      <% @albums.each do |album| %>
        <li class="column"><%= "#{album.rank}" %></li>
        <li class="column"><%= link_to("#{album.title}", album_path(album)) %></li>
        <li class="column"><%= button_to("Upvote", album_upvote_path(album), method: :patch) %></li>
      <% end %>
    </ul>
  </div>

  <nav>
    <p><%= button_to("View all media", root_path, method: :get) %></p>
    <p><%= button_to("Add an album", new_album_path, method: :get) %></p>
  </nav>
</main>
