<table>
  <thead>
    <tr>
      <th>
        <p>Ranking</p>
      </th>
      <th>
        <p>Name</p>
      </th>
      <th>
        <p>Upvote</p>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @albums.each do |a| %>
        <td><%= "#{ a.upvotes }" %></td>
        <td><%= link_to "#{ a.name }", album_path(a) %></td>
        <td><%= button_to "Upvote", root_path %></td>
    </tr>
      <% end %>
  </tbody>
</table>

<%= button_to "View All Media", root_path, method: :get %>
<%= button_to "Add an Album", new_album_path, method: :get %>
