<main>
  <article>
    <section class="error">
      <% if @album.errors.any? %>
        <h4><%= "ERROR" %></h4>
        <% @album.errors.each do |attribute, message| %>
          <p><%="#{attribute.capitalize}: #{message}" %></p>
        <% end %>
      <% end %>
    </section>

    <h3>New Album</h3>

    <%= form_for @album do |f| %>
      <p class="small-11"><%= f.label :title, "Title:" %>
      <%= f.text_field :title %></p>

      <p class="small-11"><%= f.label :artist, "Artist:" %>
      <%= f.text_field :artist %></p>

      <p class="small-11"><%= f.label :description, "Description:" %>
      <%= f.text_field :description %></p>

      <p><%= f.submit "Save" %></p>
    <% end %>
  </article>
</main>
