<%# name, title, rank, description  %>
<h2 class='index-header'><%= "#{ @album.name }" %></h2>

<h3><%= "Artist: #{ @album.artist }" %></h3>
<section>
  <h4><%= "# of Votes: #{ @album.rank }" %></h4>
  <h4><%= "Description: #{ @album.description }" %></h4>
</section>

<%# buttons: edit, delete, upvote, view all movies, view all media  %>
<section>
  <%= link_to "UpVote", upvote_album_path(@album.id), method: :patch, :class => 'link-button' %>


  <%= link_to "Edit", edit_album_path(@album.id), method: :get, :class => 'link-button' %>
  <%= link_to "Delete", album_path(@album.id), method: :delete, :class => 'link-button',
        data: {confirm: "Are you sure you want to delete permanently?"}%>

  <%= link_to "View all Albums", albums_path, method: :get, :class => 'button' %>
  <%= link_to "View all Media", welcome_index_path, method: :get, :class => 'button' %>
</section>
