<%= render partial: 'layouts/show', locals: { media: @album } %>

<section class='row'>

<%= link_to "Edit #{@album.name}", edit_album_path(@album), class: 'button' %>
<%= link_to "DELETE", album_path(@album),
    class: 'button button-danger',
    method: :delete,
    data: {confirm: "Are you sure?"} %>
<%= link_to "View all Albums", albums_path, class: 'button'  %>
<%= link_to "View all Media", root_path, class: 'button' %>

</section>
