<section class="background_albums">
  <h1><%= @myalbum.title %></h1>
  <p><%= @myalbum.creator %></p>
  <p><%= @myalbum.description %></p>
  <%= button_to("Edit Album", edit_album_path(@myalbum.id), method: :get, class:"secondary button")%>
  <%= button_to("Delete Album", album_path(@myalbum.id), method: :delete, class:"alert button")%>
  <p><%= button_to('View All Albums', albums_path, method: :get, class:"secondary button") %></p>
  <p><%= button_to('View All Media', media_path, method: :get, class:"secondary button") %></p>
  <p><%= button_to 'UpVote', upvote_album_path(@myalbum.id), method: :post, class:"success button" %></p>
  <p>Rank: <%= @myalbum.rank %></p>
</section>
