<h2>Detailed Album Info</h2>

<table class="index-table">
  <tr>
    <th>Points</th>
    <th>Album Name</th>
    <th>Album Artist</th>
    <th>Album Description</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td><%= "#{@album.rank_points}" %></td>
    <td><%= "#{@album.name}" %></td>
    <td><%= "#{@album.artist}" %></td>
    <td><%= "#{@album.description}" %></td>
    <td><small>
      <%= link_to "[Edit]", edit_album_path(@album) %>
      <%= link_to "[Delete]", album_path(@album), method: :delete, data: { confirm: "Really, now?" } %></small> </td>
  </tr>
</table>

<div class="row">
<%= link_to root_path do%>
  <div class="button even-2"><h5>Go back home</h5></div>
<% end %>
<%= link_to albums_path do%>
  <div class="button even-2"><h5>Go back to all albums</h5></div>
<% end %>
</div>
