<h3><%= "#{@album.title}" %></h3>
<h4><%= "Recorded by #{@album.musician}" %></h4>
<p>
  <%= "#{@album.description}" %>
</p>
<p>
  <%= "Ranked: #{@album.vote}" %>
</p>


<%= form_for @album, method: :patch do |f|%>
  <%= f.hidden_field :vote, :value => @album.upvote %>
  <%= f.submit "Upvote!" %>
<% end %>

<%= link_to "Edit Album", edit_album_path %>
<%= link_to "Delete this album!", album_path(@album), :method =>'delete', data: { confirm: "Are you really sure?"} %>
<%= link_to "Home", root_path %>
<%= link_to "All Albums", albums_path %>
