<h1><%= "#{ @album.name }" %></h1><h2>Recorded by: <%= "#{ @album.artist }" %></h2>
<h3>Ranked: <%= "#{ @album.upvotes }" %></h3>
<h4><%= "#{ @album.description }" %></h4>

<%= button_to "Upvote", root_path %>
<%= button_to "Edit #{ @album.name }", edit_album_path(@album), method: :get %>
<%= button_to "DELETE", album_path(@album), method: :delete, data: { confirm: "Are you really sure?" } %>
<%= button_to "View all Albums", albums_path, method: :get %>
<%= button_to "View all Media", root_path, method: :get %>
