<h1>Albums#show</h1>
<p>Find me in app/views/albums/show.html.erb</p>
<section>
  <h1>Title: <%=@myalbum.name %></h1>
    <p>Artist: <%=@myalbum.artist %></p>
    <p>Ranked: <%=@myalbum.vote_count %> </p>
    <p>Description: <%=@myalbum.description%></p>

    <section>
      <%=button_to("Upvote", albums_upvote_path(@myalbum.id), method: :patch) %>
    </section>

  <section class="button_row">
    <%=button_to("Edit #{@myalbum.name}", edit_album_path(@myalbum.id), method: :get)%>

    <%=button_to("DELETE", album_path(@myalbum.id), method: :delete) %>

    <%=button_to "View All Albums", albums_path, method: :get %>

    <%=button_to "View All Media", users_path, method: :get %>
  </section>

</section>
