<section>
  <h1><%= @myalbum.title %></h1>
  <p><%= @myalbum.creator %></p>
  <p><%= @myalbum.description %></p>
  <%= button_to("Edit Album", edit_album_path(@myalbum.id), method: :get)%>

  <%= button_to("Delete Album", album_path(@myalbum.id), method: :delete)%>
</section>
