
<article>
  <span class="row">
    <h1 class="small-4 columns">
      <%= @album.name %>
      <small>directed by: <%= @album.artist %></small>
    </h1>
  </span>
  <p class="row">
    ranked: <%= @album.votes %>
  </p>
  <p class="row">
    <%= @album.description %>
  </p>
  <section class="row button-group">
    <%= button_to 'upvote', {action: "upvote", id: @album.id }, method: :patch, class: "success button"%>
  </section>
  <section class="row button-group">
      <%= link_to 'edit', edit_album_path, class: "small-1 columns button" %>

      <%= button_to 'delete', {action: "destroy", id: @album.id }, method: :delete, data: {confirm: "Are you sure?"}, class: "small-1 columns button alert" %>

      <%= link_to 'view all', albums_path, class: "small-2 columns button"%>

      <%= link_to 'Media Ranker', root_path, class: "small-2 columns button end" %>
  </section>
</article>
