<%= render "medias/shared_header", title: @album, created_verb: "Recorded", maker: @album.artist, rank: @album, about: @album %>

<!-- <h1>Album Name: <%= @album.name %> </h1>
<h2> Author: <%= @album.artist %></h2>
<p> Ranked: <%= @album.ranking %> </p>
<p> <%= @album.description %> </p> -->

<%= button_to "UPVOTE", upvote_album_path(@album), method: :patch  %>
<%= link_to "Edit #{@album.name}", edit_album_path %>
<%= link_to "DELETE", album_path(@album.id), method: :delete,
data: { confirm: 'Are you sure?'} %>

<%= link_to "View All Media", root_path%>
<%= link_to "View All Albums", albums_path %>
