<%= render partial: "layouts/media_info", locals: { media: @album } %>

<table class="buttons">
  <tr>
    <td>
      <%= button_to "Upvote", upvote_album_path(@album), method: :patch, class: "button" %>
    </td>
    <td>
      <%= button_to "Edit Album", edit_album_path(@album), method: :get, class: "button primary-action" %>
    </td>
    <td>
      <%= button_to "Delete Album", album_path(@album), method: :delete, data: {confirm: "Are you sure you want to delete this album?"}, class: "alert button" %>
    </td>
  </tr>
</table>


<section class="sub-nav">
  <ul>
    <li>
      <%= link_to "Back to all Albums", albums_path %>
    </li>
    <li>
      <%= link_to "Back to MediaRanker Home", root_path %>
    </li>
  </ul>
</section>
