<h2>Detailed Album Info</h2>

<table class="index-table">
  <tr>
    <th>Points</th>
    <th>Album Name</th>
    <th>Album Artist</th>
    <th>Album Description</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td><%= "#{@album.rank_points}" %></td>
    <td><%= "#{@album.name}" %></td>
    <td><%= "#{@album.artist}" %></td>
    <td><%= "#{@album.description}" %></td>
    <td><small>
      <%= link_to "[Edit]", edit_album_path(@album) %>
      <%= link_to "[Delete]", album_path(@album), method: :delete, data: { confirm: "Really, now?" } %></small> </td>
  </tr>
</table>

<h5><%= link_to "Head back to all albums", albums_path %></h5>
<h5><%= link_to "Head back home", root_path %></h5>
