<div class="row small-up-1 medium-up-3 large-up-3">
  <% min_len = [@movies.length, @books.length, @albums.length].min %>

  <div class="column">
    <h3>Top Movies</h3>
    <% (0...min_len).each do |i| %>
    <p><%= link_to "#{@movies[i].name}", movie_path(@movies[i].id), class: "home-name" %></br>Ranked: <%= @movies[i].ranked %></p>
    <% end %>
    <p><%= link_to "View More Movies", movies_path, class: "button radius", id: "blue-button" %></p>
  </div>

  <div class="column">
    <h3>Top Books</h3>
    <% (0...min_len).each do |i| %>
    <p><%= link_to "#{@books[i].name}", book_path(@books[i].id), class: "home-name" %></br>Ranked: <%= @books[i].ranked %></p>
    <% end %>
    <p><%= link_to "View More Books", books_path, class: "button radius", id: "blue-button" %></p>
  </div>

  <div class="column">
    <h3>Top Albums</h3>
    <% (0...min_len).each do |i| %>
    <p><%= link_to "#{@albums[i].name}", album_path(@albums[i].id), class: "home-name" %></br>Ranked: <%= @albums[i].ranked %></p>
    <% end %>
    <p><%= link_to "View More Albums", albums_path, class: "button radius", id: "blue-button" %></p>
  </div>
</div>
