<section class="row small-up-1 medium-up-3 large-up-3">
  <div class="column">
    <h3>Movies</h3>
    <% @movies[0..9].each do |movie| %>
    <ul>
      <li ><%= link_to "#{movie.title}", movie_path(movie) %>
        <br>
      <%= "Ranking: #{movie.vote}" %></li>
    </ul>

    <% end %>
    <p class="links">
      <%= link_to "View all movies", movies_path, class: "button" %>
    </p>
  </div>


  <div class="column">
    <h3>Books</h3>
    <% @books[0..9].each do |book| %>
    <ul>
      <li class="column"><%= link_to "#{book.title}", book_path(book) %>
        <br>
      <%= "Ranking: #{book.vote}" %>
      </li>
    </ul>
    <% end %>

    <p class="links">
      <%= link_to "View all books", books_path, class: "button" %>
    </p>
  </div>


  <div class= "column">
    <h3>Albums</h3>
    <% @albums[0..9].each do |album| %>
    <ul >
      <li class="column"><%= link_to "#{album.title}", album_path(album) %>
        <br>
      <%= "Ranking: #{album.vote}" %>
      </li>
    </ul>

    <% end %>

    <p class="links">
      <%= link_to "View all albums", albums_path, class: "button" %>
    </p>
  </div>

</section>
