    <ul>
      <li>
        <%= f.label "Title:" %>
        <%= f.text_field :name, :class => "name" %>
      </li>

      <li>
        <%= f.label "Director:" %>
        <%= f.text_field :director, :class => "director" %>
      </li>

      <li>
        <%= f.label "Description:" %>
        <%= f.text_field :description, :class => "description" %>
      </li>

    </ul>

    <%= f.submit 'Save'%>
