<ul>
  <li>
    <%= f.label "Title:" %>
    <%= f.text_field :name, :class => "name" %>
  </li>

  <li>
    <%= f.label "Artist:" %>
    <%= f.text_field :artist, :class => "artist" %>
  </li>

  <li>
    <%= f.label "Singer:" %>
    <%= f.text_field :singer, :class => "singer" %>
  </li>

  <li>
    <%= f.label "Description:" %>
    <%= f.text_field :description, :class => "description" %>
  </li>

</ul>

<%= f.submit 'Save'%>
