
  <ul>
    <li>
      <%= f.label "Title:" %>
      <%= f.text_field :name, :class => "name" %>
    </li>

    <li>
      <%= f.label "Author:" %>
      <%= f.text_field :author, :class => "author" %>
    </li>

    <li>
      <%= f.label "Description:" %>
      <%= f.text_field :description, :class => "description" %>
    </li>

  </ul>

  <%= f.submit 'Save'%>
