<!-- <h1>Top <%= @medium_type_name.pluralize %></h1> -->

  <div class="row">
    <div class="small-4 medium-4 large-4 columns">
      <h4>Ranking</h4>
    </div>
    <div class="small-4 medium-4 large-4 columns">
      <h4>Name</h4>
    </div>
    <div class="small-4 medium-4 large-4 columns">
      <h4>Upvote</h4>
    </div>
  </div>

  <% @media.each do |medium| %>
    <div class="row">

      <div class="small-4 medium-4 large-4 columns">
        Ranked:<%= medium.votes %>
      </div>

      <div class="small-4 medium-4 large-4 columns">
        <%= link_to medium.name, medium_show_path(medium.id) %>
      </div>

      <div class="small-4 medium-4 large-4 columns">
        <%= link_to "Upvote", medium_upvote_path(medium.id) %>
      </div>

    </div>
  <% end %>

  <%= link_to "View All Media", index_path %>
  <%= link_to "Add New #{@medium_type_name}", medium_new_path %>
</div>



<!-- ###############TABLE ORGANIZED VERSION##################### -->
<!--
<table>
  <tr>
    <th>Name</th>
    <th>Ranking</th>
    <th>Upvote</th>
  </tr>


  <% @media.each do |medium| %>
    <tr>
      <%= render partial: medium.type.downcase, locals: { medium.type.downcase.to_sym => medium } %>
      <td>
        <%= link_to "Upvote", medium_upvote_path(medium.id) %>
      </td>
    <tr>
  <% end %>

</table>

<%= link_to "View All Media", index_path %>
<%= link_to "Add New #{@medium_type_name}", medium_new_path %> -->
