<section>
  <header>
    <h1>Edit Book</h1>
  </header>

    <article class="form">
    <%= form_for @medium, url: medium_update_path do |f| %>

      <ul>
        <li>
          <%= f.label "Name:" %>
          <%= f.text_field :name, :class => "name" %>
        </li>

        <li>
          <%= f.label "Author:" %>
          <%= f.text_field :author, :class => "author" %>
        </li>

        <li>
          <%= f.label "Description:" %>
          <%= f.text_field :description, :class => "description" %>
        </li>

      </ul>

      <%= f.submit 'Save'%>

    <% end %>
  </article>
</section>
