<h1>Media Ranker</h1>
<h3>Ranking the Best of Everything</h3>

<ul>
  <li><%=link_to "Top Movies", movies_path%></li>
  <ul>
    <% @movies.each do |item| %>
      <li><%= link_to item.name, show_movie_path(item) %></li>
    <% end %>
  </ul>
  <li><%=link_to "Top Books", books_path%></li>
  <ul>
    <% @books.each do |item| %>
      <li><%= item.title %></li>
    <% end %>
  </ul>
  <li><%=link_to "Top Albums", albums_path%></li>
  <ul>
    <% @albums.each do |item| %>
      <li><%= item.name %></li>
    <% end %>
  </ul>
</ul>
