<h1 class="detail_title">
<%= @medium.name %>
</h1>

<h2>
  <% if @medium.singer != nil %>
    Album Singer <%= @medium.singer %>
  <% end %>

  <% if @medium.artist != nil %>
    Album Artist <%= @medium.artist %>
  <% end %>
</h2>

<section class="detail_content">
  <p>Ranked: <%= @medium.votes %></p>
  <p><%= @medium.description %></p>
</section>

<section class="botton">
  <%= link_to "Upvote", medium_upvote_path(@medium.id) %>
  <%= link_to "Edit #{@medium.name}", medium_edit_path(@medium.id) %>
  <%= link_to "DELETE", medium_delete_path(@medium.id), data: { confirm: "Are you sure you want to delete this?" }, method: :delete %>
  <%= link_to "View All Albums", media_all_path(:album) %>
  <%= link_to "View All Media", index_path %>
</section>
