<section class="row small-up-1 medium-up-3 large-up-3">

  <section class="column">
    <header>
      <h3>Top Movies</h3>
    </header>
      <%= render partial: "layouts/basic_info", locals: { media_type: @top_movies, media_class: "movie"} %>
    <footer>
      <%= link_to "See all Movies", movies_path %>
    </footer>
  </section>

  <section class="column">
    <header>
      <h3>Top Books</h3>
    </header>
      <%= render partial: "layouts/basic_info", locals: { media_type: @top_books, media_class: "book"} %>
    <footer>
      <%= link_to "See all Books", books_path %>
    </footer>
  </section>

  <section class="column">
    <header>
      <h3>Top Albums</h3>
    </header>
      <%= render partial: "layouts/basic_info", locals: { media_type: @top_albums, media_class: "album"} %>
    <footer>
      <%= link_to "See all Albums", albums_path %>
    </footer>
  </section>

</section>
