<h3>Ranked: <%= "#{ media.upvotes }" %></h3>
<h4><%= "#{ media.description }" %></h4>

<%= button_to "Upvote", { action: :vote, id: media.id }, { :class => "upvote-button"} %>
<ul class="list-of-buttons">
  <li><%= button_to "Edit #{ media.name }", url_for(action: 'edit', controller: type), method: :get, :class => "buttons" %></li>
  <li><%= button_to "DELETE", url_for(media), method: :delete, :class => "delete-button", data: { confirm: "Are you really sure?" } %></li>
  <li><%= button_to "View all #{ type.capitalize }", polymorphic_url(type), method: :get, :class => "buttons" %></li>
  <li><%= button_to "View all Media", root_path, method: :get, :class => "buttons" %></li>
</ul>
