<section class='row small-up-2 large-up-1'>
  <div class='column'>
    <h1><%= media.name %></h1>
    <small><%= get_creator(media) %></small>
  </div>

  <h2 class='column'>Ranked: <%= media.upvotes %></h2>
  <p class='column'>
  <%= media.description %>
  </p>

<%= render partial: 'layouts/upvote', locals: { media: media } %>

</section>
