<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <a href = "/">
      <%= image_tag("apple.jpeg") %>
      <h1>MediaRanker!</h1>
    </a>
  </header>

<%= yield %>

  <footer class="basic">
    <p> &copy; 2016 Karin Kubischta </p>
  </footer>
</body>
</html>
