<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class='row small-up-2 large-up-1 page-header'>
    <div class='column main-header'>
      <h1><%= link_to "Media Ranker", root_path %></h1>
      <small class='subheader'>Ranking the Best of Everything</small>
    </div>
  </header>

<%= yield %>

</body>
</html>
