<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="big-title" class="row">
  <h1 class="small-4 columns"><%=link_to "MEDIA RANKER", users_path %></h1>
  <h3 class="small-8 columns"> Ranking the Best of Everything</h3>
</header>
<hr />
<%= yield %>

</body>
</html>
