<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="row">
    <div class="column">
      <h1><%= link_to "m e d i a r a n k e r", main_path, method: :get %><h1>
    </div>
  </div>

  <nav class="row">
    <ul class="column">
      <li><h3><%=link_to "home", main_path%></h3></li>
      <li><h3><%=link_to "movies", movies_index_path%></h3></li>
      <li><h3><%=link_to "books", books_index_path%></h3></li>
      <li><h3><%=link_to "albums", albums_index_path%></h3></li>
    </ul>
  </nav>

</header>



<%= yield %>

</body>
</html>
