<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="row">



  <header>
    <h1><%= link_to "Ultimate Media Ranker", root_path %></h1>
  </header>
  <section class="column small-12 medium-12 large-12">
    <%= yield %>

  </section>
</body>
</html>
